on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
jobs: 
  build-node:
    runs-on: ubuntu-latest
    container: node:16
    steps:
      - run: node --version
      - run: npm --version
      - uses: actions/checkout@v3
      # - uses: actions/setup-node@v1
      - run: yarn
      # - run: yarn test
      - run: yarn build



